@import "../Variables/media";

.header {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  z-index: 100;
  width: 90%;
  height: 60px;
  padding: 20px 40px 20px 40px;
  justify-content: space-between;

  @include media(">=desktop") {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  @include media("<=tablet") {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  @include media("<=phone") {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.logo {
 align-items: center;
 cursor: pointer;

  img {
    width: 50px;
    height: auto;
    background: transparent;
 }
}

.user__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.host__menu {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 16px;

  h3 {
    font-size: 13px;
    cursor: pointer;
  }
}

.become__host {
  margin-right: 26px;

  &:hover {
    background-color: rgb(255,255,255);
    opacity: 0.5;
    border-radius: 9999px;
    padding: 10px 9px;
    color: black;
  }
}

.language__icon {
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: rgb(255,255,255);
    opacity: 0.5;
    border-radius: 50%;
    padding: 5px;
  }
}

.login__menu {
  align-items: center;
  border: 1px solid lightgrey;
  background-color: #fff;
  border-radius: 9999px;
  padding: 5px 10px;
}

.menu__icon {
  transform: scale(1);
  padding-right: 9px;
  cursor: pointer;
}

.account__icon {
  transform: scale(1.4);
  padding-left: 3px;
  margin-left: 2px;
  color: #717171;
  cursor: pointer;
}